* {box-sizing:border-box;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
h2 {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
font-weight: 900;
font-size: 50px;
text-align: center;
margin:20px 0 20px;
}
body {
    padding: 0px 0 60px 0;
    background-image: linear-gradient(rgb(204, 245, 170),rgb(255, 255, 255));;
}

.caixa-slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.meus-slides {
    display: none;
}

.anterior,
.proximo {
  cursor: pointer;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.proximo {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.anterior:hover,
.proximo:hover {
  background-color: rgba(0,0,0,0.8);
}

.descricao-imagem {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    bottom: 4px;
    width: 100%;
    text-align: center;
}

.numero-imagem {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.ponto-indicador-slide {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.ativo, .ponto-indicador-slide:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} 


.footer #button{
	width:35px;
	height:35px;
	border: green 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 10em;
}
.footer #container{
	margin-top:5px;
	width:100%;
height:100%;
  position:relative;
  top:0;
  left:0;
	background: rgb(80, 161, 80);
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
	width:150px;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:500px;
	float:left;
  text-align:center;
}
.footer h3 {
	font-family: 'Helvetica';
	font-size: 20px;
	font-weight: 100;
	margin-top:60px;
	margin-left:40px;
}

#esquerda {
  float: left;
  width:14%;
  position: fixed;
}
#direita {
  float: right;
  width:10%;
  height: 50%;
}
#geral {
  width:70%;
  margin:0 auto;
}
h3 {
  font-size: 65px;
  font-family: fantasy;
}

#indice {
  font-size: 12px;
  margin-left: 10px;
  color: black;
}

h4 {
  font-size: 16px;
  margin-bottom: 3%;

}

.inputs{
  width: 105%;
  height: 100%;
  float: right;
}

textarea{
  width: 100%;
}

.inputs2{
  width: 75%;
  margin: 100px;
}

.inputs2 input{
  width: 100%;
}
.input2 label{
  padding-top: 30px;
}